Source: ajaxometer
Section: web
Priority: extra
Maintainer: Frank Piotrowski <f@pi0.de>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.5
Homepage: http://ajaxometer.sourceforge.net

Package: ajaxometer
Architecture: all
Depends: ${misc:Depends}
Recommends: apache2 | other-webservers-you-want-to-support | httpd 
Description: web-based download and upload speed test utility
 AJAXOmeter is a web-based bandwidth testing utility implemented in PHP, SVG,
 and JavaScript. It tests http-request latency and upload/download speeds to
 the web server. 
